<div class="row" style="height: 100%; width: 100%;">
	<div class="col s12 center-align">
		<div>
			<%= image_tag 'ol_hangman_logo', :style => 'vertical-align: middle;' %>
			<p><%= link_to "Enter", users_path, :class => "btn wave-effect deep-orange darken-4" %></p>
		</div>
	</div>
</div>