// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.letter {
	display: inline-block;
	background-color: rgba(20,20,20,0.9);
	color: yellow;
	width: 10%;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	cursor: pointer;
	-webkit-transition:background-color 0.3s ease;
	-moz-transition:background-color 0.3s ease;
	-ms-transition:background-color 0.3s ease;
	transition:background-color 0.3s ease;
}

.letter:active {
	background-color: rgba(20,20,20,0.5);
	-webkit-transition:background-color 0.3s ease;
	-moz-transition:background-color 0.3s ease;
	-ms-transition:background-color 0.3s ease;
	transition:background-color 0.3s ease;
}

.used-letter {
	opacity:0.2;
}

#letters-to-guess {
	.letter-guessed {
		border-bottom:1px solid white;
		display:inline-block;
		margin:0 5px;
	}
}

.wait-turn {
	opacity:0.2;
}

.short {
	margin-left: 10px !important;
}

h3 {
	color: white;
	text-align: center;
}

board-upper{

}

board-lower{
	max-height: 100px;
}

.gallow{
	border: 5px solid grey;
	background-color: rgba(20,20,20,0.35);  
	padding: 10px !important; 
}

.word{
	border: 5px solid grey;
	background-color: rgba(20,20,20,0.35);  
	padding: 5px !important; 
}

#dim{
	background-color: rgba(0,0,0,0.75);
	position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    text-align:center;
    color: white;
}

.game-over{
	width: 100%;
	position:fixed;
	top: 200px;
    text-align:center;
}