// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-image: image-url("tree.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.black-glass{
	background-color: rgba(20,20,20,0.35);  
	padding: 40px !important; 
	color:white;
	margin-top: 50px;
}

.yText{
	color: yellow;
}


