// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-image: image-url("tree.jpg");
	background-size: cover;
    background-repeat: no-repeat;
}

.black-glass{
	background-color: rgba(20,20,20,0.8); 
	padding: 50px !important; 
	color:white;
}

