<footer class="page-footer">
	<div class="container">
		<div class="row">
		upper text
		</div>
		<div class="footer-copyright">
			<div class="container">
			hello
			</div>
		</div>
	</div>
</footer>